$base-blue: #0078f1;
$light-blue: #77b0e8;

.task_bar {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #bababa;
  border-radius: 0.5rem;
  padding: 1rem;
}

#create-task-dialogue {
  border: 0px;
  width: 30rem;
  padding: 2rem;
  border-radius: 0.5rem;
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    label {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      color: $base-blue;
      margin-bottom: 0.5rem;
    }
    .form-input {
      width: 100%;
      padding: 0.25rem;
      font-size: 1.2rem;
    }
  }
  .controls {
    display: inline-block;
    width: 100%;
    #cancel {
      float: inline-start;
    }
    #confirm {
      float: inline-end;
    }
  }
}
.create-task-button {
  cursor: pointer;
  border: 0;
  font-size: 1rem;
  background-color: $base-blue;
  align-items: center;
  color: #f1f1f1;
  transition: all 0.6s;
  &:hover {
    background-color: $light-blue;
    color: #f1f1f1;
    transition: 0.6s;
  }
}
.card-box {
  margin: 0;
  border: 0;
  padding: 0.25rem;
}
.moveup {
  transform: translate(0, -43.2px);
}
.movedown {
  transform: translate(0, 43.2px);
}
.card {
  padding: 0.5rem;
  transition: all 0.6s;
  .title {
    font-size: 1rem;
    .title-text {
      cursor: pointer;
    }
    .delete-btn {
      cursor: pointer;
      float: right;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 1rem;
      fill: #0078f1;
      &:hover {
        fill: red;
      }
    }
    .collapse-btn {
      cursor: pointer;
      float: left;
      margin: 0 0.25rem;
      height: 1.2rem;
      width: 1.2rem;
    }
  }
  .content {
    .details {
      font-size: 0.8rem;
      line-height: 1.5;
    }
  }
  .drag-in {
    transform: translate(0, 43.2px);
  }
}

.complete {
  .title {
    .delete-btn {
      fill: #f1f1f1;
    }
  }
}
