$base-blue: #0078f1;
$light-blue: #77b0e8;

.task_bar {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #bababa;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 0.5rem;
}

#create-task-dialogue {
  border: 0px;
  border-radius: 0.5rem;
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    label {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
      color: $base-blue;
    }
  }
  .controls {
    display: inline-block;
    width: 100%;
    #cancel {
      float: inline-start;
    }
    #confirm {
      float: inline-end;
    }
  }
}
#create-task-button {
  border: 0;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $base-blue;
  color: #f1f1f1;
  transition: all 0.6s;
  &:hover {
    background-color: $light-blue;
    color: #f1f1f1;
    transition: 0.6s;
  }
}

.card {
  padding: 0.5rem;
  .title {
    font-size: 1rem;
    .delete-btn {
      float: inline-end;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 1rem;
      fill: #0078f1;
      transform: all 0.6s;
      &:hover {
        fill: red;
      }
    }
    .collapse-btn {
      float: left;
      height: 1.2rem;
      width: 1.2rem;
    }
  }
  .content {
    .details {
      font-size: 0.8rem;
      line-height: 1.5;
    }
  }
}

.complete {
  .title {
    .delete-btn {
      transition: 0.6s;
      fill: #f1f1f1;
    }
  }
}
