.task_bar {
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #bababa;
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 1; }

#create-task-dialogue {
  border: 0px;
  width: 30rem;
  padding: 2rem;
  border-radius: 0.5rem; }
  #create-task-dialogue div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
    #create-task-dialogue div label {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      color: #0078f1;
      margin-bottom: 0.5rem; }
    #create-task-dialogue div .form-input {
      width: 100%;
      padding: 0.25rem;
      font-size: 1.2rem; }
  #create-task-dialogue .controls {
    display: inline-block;
    width: 100%; }
    #create-task-dialogue .controls #cancel {
      float: inline-start; }
    #create-task-dialogue .controls #confirm {
      float: inline-end; }

.create-task-button {
  cursor: pointer;
  border: 0;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  background-color: #0078f1;
  align-items: center;
  color: #f1f1f1;
  transition: all 0.6s; }
  .create-task-button:hover {
    background-color: #77b0e8;
    color: #f1f1f1;
    transition: 0.6s; }

.card-box {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0.25rem; }
  .card-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(255, 0, 0, 0); }
  .card-box .active {
    z-index: 10; }
  .card-box .dragging {
    cursor: grabbing;
    transition: 1ms;
    opacity: 0; }

.moveup {
  transform: translate(0, -43.2px); }

.movedown {
  transform: translate(0, 43.2px); }

.card {
  cursor: grab;
  transition: all 0.5s;
  padding: 0.5rem; }
  .card .title {
    font-size: 1rem; }
    .card .title .title-text {
      cursor: pointer; }
    .card .title .delete-btn {
      cursor: pointer;
      float: right;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 1rem;
      fill: #0078f1; }
      .card .title .delete-btn:hover {
        fill: red; }
    .card .title .collapse-btn {
      cursor: pointer;
      float: left;
      margin: 0 0.25rem;
      height: 1.2rem;
      width: 1.2rem; }
  .card .content .details {
    font-size: 0.8rem;
    line-height: 1.5; }

.complete .title .delete-btn {
  fill: #f1f1f1; }
