body {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

.section {
  margin: 1rem 0px;
  .chapter-title {
    margin: 2rem 0px;
    font-size: 2.5rem;
    font-weight: 800;
  }
  .section-title {
    margin: 1.5rem 0px;
    font-size: 2rem;
    font-weight: 500;
  }
  .sub-title {
    margin: 1rem 0px;
    font-size: 1.5rem;
    font-weight: 400;
  }
  p {
    margin: 0.25rem 0px;
  }
}

.grid-container {
  width: 100%;
  margin: 1rem 0px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

html * {
  box-sizing: border-box;
}
